body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    text-align: center;
    background: -webkit-linear-gradient(#68c4ee, #2f03f1);
    -webkit-background-clip: text;-webkit-text-fill-color: transparent;
}
.AshColor{
    color: #444444;
    
}
y-title{
    font-size: 35px;
}

.title-color{
    color: #0059ffb7;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    border-radius: 50%;
    width: 70%;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    background-image: linear-gradient( #81c5f1,#3055cc);
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.secound-div{
    width: 50%;

}
.secound-div img{
    border-radius: 50%;
    
        /* box-shadow: 0px 0px 10px 5px rgba(15, 91, 255, 0.562); */
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.example1{
   

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    
    margin: 40px;
    padding-left: 30px;
    padding-bottom: 20px;
    
    width: 50%;
}
.secoundSecRound{
        background-image: url(image/ride-side-border.png);
            background-repeat: no-repeat;
            background-position: right;

}
.lastSection{
    background-image: url(image/side-banner.png);
    background-repeat: no-repeat;
}
.lastSection h2{
    font-size: 40px;
    color: #3b3b3b;
}
.lastSection h3 {
    font-size: 20px;
    color: #ca044cbe;
   
}
#expText{
    text-align: left;
    padding-left: 40px;
}
#box1{
    border-left: 6px solid #3055cc;
    border-radius: 5px;
}
#box2{
    border-left: 6px solid #e45c0e;
    border-radius: 5px;
}

.footerText{
    text-align: center;
}